<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-title>Contas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    
    <ion-item>
      <ion-label >Nome do associado</ion-label>
      <ion-input color="tertiary" type="string"  value="" [(ngModel)]="contadata.Nome_de_associado"> </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label >Valor</ion-label>
      <ion-input color="tertiary" type="int"  value="" [(ngModel)]="contadata.Valor"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Mes</ion-label>
      <ion-input color="tertiary" type="int"  value="" [(ngModel)]="contadata.Mes"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Status</ion-label>
      <ion-input color="tertiary" type="string"  value="" [(ngModel)]="contadata.Status"> </ion-input>
    </ion-item>

  </ion-list>
<ion-button full (click)="Cadastro()" expand="block" color="tertiary">Finalizar</ion-button>
</ion-content>
